.buy_phone_search_priceContent {
    margin-top: 12px;
}

.buy_phone_search {
    padding: 20px 250px 0 250px;
}

.buy_phone_search_header {
    font-size: 22px;
    font-weight: bold;
}

.buy_phone_search_searchResults {
  display: none;
  cursor: pointer;
  max-height: 310px;
  margin-top: -2px;
  border: 2px solid #b9d5ff;
  overflow-y: auto;
  box-shadow: 0 2px 5px #b1d0ff;
  border-radius: 8px;
}

.buy_phone_search_not_found{
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e6e6e6;
    transition: background-color 0.3s;
    color: rgb(255, 73, 73);
  }

.buy_phone_search_result_item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e6e6e6;
  transition: background-color 0.3s;
}

.buy_phone_search_result_item:hover {
  background-color: #f9f9f9;
}

.buy_phone_search_result_item img {
  margin-right: 22px;
  height: 60px;
  width: auto;
  border-radius: 4px;
}

.buy_phone_search_phoneSearch {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

.buy_phone_search_phoneSearch:focus {
  border-color: #0056b3;
  box-shadow: 0 0 0 3px rgba(56, 152, 255, 0.25);
}

.buy_phone_search_sellItemModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.buy_phone_search_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.buy_phone_search_img {
  height: auto;
  border-radius: 4px;
}

.buy_phone_search_img img {
    height: 210px;
  }

.buy_phone_search_model {
  width: 20%;
}

.buy_phone_search_model_and_condition_button {
    margin-top: 10px;
    display: flex;
}

.buy_phone_search_conditions_button_and_already_sold {
    width: 50%;
    justify-content: space-around;
    padding: 10px;
}

.buy_phone_condition_button_main {
    margin-top: 10px;
    font-weight: bold;
    color: white;
}

.buy_phone_condition_button {
    font-size: 14px;
    text-align: center;
    padding: 10px;
    background-color: #dfdfdf;
    border-radius: 4px;
    border-color: transparent;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.buy_phone_condition_button.active {
    color: #ffffff;
    background-color: #7eb5fa;
}

.buy_phone_search_condition_details {
  margin-top: 10px;
}

.buy_phone_search_item_summary {
  width: 30%;
  background-color: #efeeee;
  padding: 10px;
}

.buy_phone_item_summary {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.buy_phone_search_sell_this_item {
    width: 100%;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    border-color: transparent;
    color: #fff;
    background-color: #090;
}

.buy_phone_search_final_price_text {
    margin-top: 20px;
    text-align: center;
}

.buy_phone_search_final_price {
    font-size: 36px;
    font-weight: bold;
    color: #0056b3;
}

.buy_phone_search_no_scroll {
  overflow: hidden;
}
