.model{
    background-color: rgb(159, 159, 255);
}

.conditions_button_and_already_sold{
    background-color: rgb(208, 157, 255);
}

.condition_details{
    background-color: rgb(253, 178, 178);
}

.item-summary{
    background-color: rgb(142, 255, 255);
}

.no-scroll {
    overflow: hidden;
}