.buy_phone_search_header {
  font-size: 24px;
  font-weight: bold;
}

.buy_phone_search_title {
  display: flex;
}

.buy_phone_search_sold_out {
  margin-top: 12px;
  margin-left: 4px;
  font-size: small;
}

.buy_phone_search_conditions_text {
  margin-top: 14px;
}

.buy_phone_search_searchResults {
  display: none;
  cursor: pointer;
  max-height: 310px;
  margin-top: -2px;
  border: 2px solid #b9d5ff;
  overflow-y: auto;
  box-shadow: 0 2px 5px #b1d0ff;
  border-radius: 8px;
}

.buy_phone_search_not_found {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e6e6e6;
  transition: background-color 0.3s;
  color: rgb(255, 73, 73);
}

.buy_phone_search_result_item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e6e6e6;
  transition: background-color 0.3s;
}

.buy_phone_search_result_item:hover {
  background-color: #f9f9f9;
}

.buy_phone_search_result_item img {
  margin-right: 22px;
  height: 60px;
  width: auto;
  border-radius: 4px;
}

.buy_phone_search_phoneSearch {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

.buy_phone_search_phoneSearch:focus {
  border-color: #0056b3;
  box-shadow: 0 0 0 3px rgba(56, 152, 255, 0.25);
}

.buy_phone_search_sellItemModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: white;
}

.buy_phone_search_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.buy_phone_search_img {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy_phone_search_img img {
  height: auto;
}

.buy_phone_search_model_and_condition_button {
  margin-top: 10px;
  display: flex;
  gap: 22px;
}

.buy_phone_search_conditions_button_and_already_sold {
  justify-content: space-around;
}

.buy_phone_condition_button_main {
  margin-top: 10px;
  font-weight: bold;
  color: white;
}

.buy_phone_condition_button {
  margin-right: 16px;
  gap: 10px;
  padding: 8px 40px;
  font-size: 14px;
  text-align: center;
  background-color: #ddefff;
  border-color: transparent;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.buy_phone_condition_button.active {
  color: #ffffff;
  background-color: #072f5f;
}

.buy_phone_search_condition_details {
  margin-top: 10px;
  border: 2px solid #bcdefc;
  max-width: 430px;
}

.buy_phone_search_item_summary {
  text-align: center;
  background-color: #ddefff;
  color: #072f5f;
  padding: 10px;
  width: 450px;
}

.buy_phone_search_items {
  justify-content: space-evenly;
  display: flex;
  margin-top: 20px;
  font-size: 14px;
}

.buy_phone_search_items hr {
  background-color: black;
  width: 22px;
  font-weight: bold;
}

.buy_phone_search_items h5 {
  font-weight: bolder;
}

.buy_phone_item_summary {
  margin-top: 20px;
  font-size: 32px;
  font-weight: bolder;
}

.buy_phone_search_sell_this_item {
  width: 100%;
  font-size: 20px;
  text-align: center;
  padding: 10px 16px;
  border-color: transparent;
  color: #fff;
  background-color: #090;
  margin-right: 35px;
}

.buy_phone_search_price_sell_button {
  display: flex;
  margin-top: 45px;
}

.buy_phone_search_final_price_text {
  width: 100%;
  margin-left: 30px;
  margin-right: 30px;
}

.buy_phone_search_final_price {
  font-size: 36px;
  font-weight: bold;
  color: #0056b3;
}

.buy_phone_search_no_scroll {
  overflow: hidden;
}

/* Mobile devices */
@media (max-width: 432px) {
  .buy_phone_condition_button_main {
    display: flex;
    justify-content: space-evenly;
  }

  .buy_phone_search_model_and_condition_button {
    padding: 10px;
  }

  .buy_phone_search_sellItemModal {
    width: 100%;
  }

  .buy_phone_search_img {
    display: block;
  }

  .buy_phone_search_img img {
    height: auto;
    width: 30%;
  }

  .buy_phone_search_title {
    position: absolute;
    margin: -112px 0px 0 120px;
    display: block;
  }

  .buy_phone_search_header {
    font-size: 16px;
  }

  .buy_phone_condition_button {
    padding: 8px 22px;
    margin: 2px;
  }

  .buy_phone_search_sell_this_item {
    padding: 0;
    font-size: 16px;
    margin: 0 24px 0px 0px;
  }

  .buy_phone_search_final_price {
    font-size: 18px;
  }
  
  .buy_phone_search_final_price_text {
    font-size: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .buy_phone_search_condition_details {
    width: 100%;
  }

  .buy_phone_search_item_summary {
    width: 95%;
  }

  .buy_phone_search_sold_out{
    margin-left: 0;
    margin-top: 8px;
  }
}

/* Tablets */
@media (max-width: 768px) {
  .buy_phone_search_model_and_condition_button {
    flex-direction: column;
  }
}
